* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}

body {
    background-color: #f7f7f7;
    font-family: 'Spartan', sans-serif;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearboth {
    clear: both;
}


/*
    Navigation
*/
.progress {
    text-align: center;
    background-color: yellow;
    margin: auto;
}

nav {
    overflow: hidden;
    box-shadow: 0px 0px 10px #bababa;
    /*opacity: 0.9;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    list-style-type: none;   
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fcfcfc;
}
nav li a {
    font-family: 'Spartan', sans-serif;
    display: block;
    color: #9c9c9c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li p {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    display: block;
    color: #9c9c9c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e8e8e8;
}


/*
    Welcome Screen

*/
.welcome {
    z-index: 999999;
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
}

.wmiddle {
    color: #9c9c9c;
    font-size:48px;
    font-weight:100;
    width: 60%;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.spacer{
    height: 80px;

}

/*
    Content
*/
.container{
    height: 100vh;
}

.content_container {
    height: 500px;
    width: 70%;
    border-radius: 6px;
    background-color: #fcfcfc;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 0px 3px #bababa;
}

.fiftysize {
    width: 48%;
    border-radius: 6px;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 3px #bababa;
}

.cthrou {
    height: 500px;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

.naj{

    width:60%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;

}

/*
    Pictures
*/
.pcenter {
    width: 30%;
    height: 100%;
}

.pic {
    width: 70%;
    display: block;
    border-radius: 100%;
    box-shadow: 0px 0px 3px #bababa;
    margin: auto;
    margin-top: 25%;
    margin-bottom: 25%;
}

/*
    Resumé
*/
.resume {
    font-size: 20px;
    width: 50%;
    height: 50%;    
    margin-top: 8%;
}

/*
    Text
*/
.headline {
    font-size: 50px;
    font-weight:100;
    display: block;
    color: #9c9c9c;
}

p {
    color: #9c9c9c;
}

/*
    List
*/
ul {
    list-style-type: none;
}

li {
    font-family: 'Spartan', sans-serif;
    color: #9c9c9c;
    padding: 10px;
}


