* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearboth {
    clear: both;
}

body {
    background-image: url("https://wallpaperaccess.com/full/846661.png");
    background-size: cover;
    background-attachment: fixed;
}

.background {
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.hb {
    background-image: url("../images/hobbies.jpg");
}

.ub {
    background-image: url("https://www.proshopeurope.com/media/566524/AAU-01.jpg");
}

.pb {
    background-image: url("https://www.bounteous.com/sites/default/files/styles/default/public/insights/2019-10/previews/20191003_blog_scoping_a_data_science_project_in_a_smarter_way_website.png?itok=TKaHtpX-");
}

.kb {
    background-image: url("https://www.itl.cat/pngfile/big/91-919373_negative-space-cell-phone-on-table.jpg");
}

.spacer {
    height: 1vh;
    background-color: #313131;
}

.progress{

    text-align:center;
    background-color:yellow;
    margin:auto;
}

.navbar {
    overflow: hidden;
    background-color: #313131;
    opacity: 0.9;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ca3e47;
}

.main {
    width: 100%;
}

.wscreen {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
}

.welcome {
    color: azure;
    width: 60%;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.yes {
    text-shadow: 1px 1px 4px black;
}

.contentcontainer {
    background-color: #414141;
    text-shadow: 1px 1px 4px black;
    width: 100%;
    height: 50vh;
}

.content{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

.content > p{
    color:aliceblue;
}

.pic {
    width: 25%;
    display: block;
    border-radius: 100%;
    box-shadow: 1px 1px 4px black;
}

.scontainer{
    margin-top: 5%;
    width: 25%;
    color:aliceblue;
}

.scontainer > h4 {
    margin-left: 40%;
}

.mypic {
    width: 50%;
    display: block;
    border-radius: 100%;
    box-shadow: 1px 1px 4px black;
    margin: auto;
}

.paragraph {
    width: 50%;
    margin-top: 8%;
    color:aliceblue;
}